<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs")%>

<body>
    <%- include("./partials/nav.ejs")%>
    <div class="blogs content">
        <h2>OOps not found</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates dolore magnam eaque officia debitis sapiente unde sed eum. Qui nisi quia iusto debitis facilis, magnam nam error id culpa corrupti!</p>
    </div>

    <%- include("./partials/footer.ejs")%>
    
</body>
</html>