<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS</title>
</head>
<body>
    <h1>about !</h1>
    <nav>
        <a href="/">Homepage</a>
        <a href="/about">About page</a>
    </nav>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sunt non in. Eveniet corporis eius odit non, vel totam recusandae magni illo autem exercitationem obcaecati aspernatur dignissimos enim aliquam asperiores.</p>
    
</body>
</html>